<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Python Programming: Systematic Sampling

In [2]:
# Importing Numpy
#
import numpy as np
import pandas as pd

## Examples

In [13]:
# Example 1
# ---
# The idea in systematic sampling is that, given the population units numbered from 1 to  N , 
# we compute for the sampling interval, given by  k=N/n , where  n  is the number of units needed for the sample. 
# After that, we choose for the random start, number between  1  and  k. 
# This random start will be the first sample, and then the second unit in the sample is obtained by adding 
# the sampling interval to the random start, and so on. 
# There are two types of systematic sampling namely, linear and circular systematic samplings. 
# Circular systematic sampling treats the population units numbered from  1  to  N  in circular form,
# so that if the increment step is more than the number of  N  units, say  N+2 , 
# the sample unit is the  2nd element in the population, and so on. 
# The code that we will working with can be used both for linear and circular. 
# Since there are rules in linear that are not satisfied in the function, 
# one of which is if  k  is not a whole number, despite that, however, we can always extend it to a more general function.
# ---
# Question: Perform systematic sampling given the following dataset:
# ---
#

# The data
sal_dat = np.array([25, 15, 20, 25, 18, 12, 24, 30, 15, 20, 10, 10, 11, 14, 22, 16])
salary = sal_dat * 1000

# Function for systematic sampling
def sys_sample(df, r, n):
    k = df.shape[0] // n #sampling interval
    b = [None] * n    # arraty list
    a = r    #random start
    b[0] = a

    for i in np.arange(1, n):
        a = a + k

        if a > df.shape[0]:
            a = a - df.shape[0]

        b[i] = a

    return {"Data" : df[b], "Index" : b, "K" : k}

# Do the sampling for random start,
# r = 2, and number of sample, n = 4
sys_sample(salary, r = 2, n = 4)

{'Data': array([20000, 24000, 10000, 22000]), 'Index': [2, 6, 10, 14], 'K': 4}

## <font color="green">Challenges</font>

In [9]:
# Challenge 1
# ---
# Question: Peform systematic sampling given the following dataset 
# ---
dataset = [33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 
              56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79]
data = np.array(dataset)

# Function for systematic sampling
def sys_sample(df, r, n):
    k = df.shape[0] // n #sampling interval
    b = [None] * n    # arraty list
    a = r    #random start
    b[0] = a

    for i in np.arange(1, n):
        a = a + k

        if a > df.shape[0]:
            a = a - df.shape[0]

        b[i] = a

    return {"Data" : df[b], "Index" : b, "K" : k}

# Do the sampling for random start,
# r = 2, and number of sample, n = 4
sys_sample(data, r = 2, n = 4)

{'Data': array([35, 46, 57, 68]), 'Index': [2, 13, 24, 35], 'K': 11}

In [15]:
# Challenge 2
# ---
# Question: You're given data ranging from 175 to 1000. Select a sample from this data by performing systematic sampling.
data = np.arange(175,1001)

# Function for systematic sampling
def sys_sample(df, r, n):
    k = df.shape[0] // n #sampling interval
    b = [None] * n    # arraty list
    a = r    #random start
    b[0] = a

    for i in np.arange(1, n):
        a = a + k

        if a > df.shape[0]:
            a = a - df.shape[0]

        b[i] = a

    return {"Data" : df[b], "Index" : b, "K" : k}

# Do the sampling for random start,
# r = 2, and number of sample, n = 4
sys_sample(data, r = 2, n = 4)

{'Data': array([177, 383, 589, 795]), 'Index': [2, 208, 414, 620], 'K': 206}

In [22]:
# Challenge 3
# ---
# Question: There are 19 students in this class. Letâ€™s choose a 1-in-3 systematic sample from the 19 students in the class.
# ---
data = np.arange(1,20)

# Function for systematic sampling
def sys_sample(df, r, n):
    k = df.shape[0] // n #sampling interval
    b = [None] * n    # arraty list
    a = r    #random start
    b[0] = a

    for i in np.arange(1, n):
        a = a + k

        if a > df.shape[0]:
            a = a - df.shape[0]

        b[i] = a

    return {"Data" : df[b], "Index" : b, "K" : k}

# Do the sampling for random start,
# r = 2, and number of sample, n = 4
sys_sample(data, r = 1, n = 6)

{'Data': array([ 2,  5,  8, 11, 14, 17]),
 'Index': [1, 4, 7, 10, 13, 16],
 'K': 3}

In [23]:
# Challenge 4
# ---
# Question: Select a sample from n = 12 members from a population of size N = 287. 
data = np.arange(1,288)

# Function for systematic sampling
def sys_sample(df, r, n):
    k = df.shape[0] // n #sampling interval
    b = [None] * n    # arraty list
    a = r    #random start
    b[0] = a

    for i in np.arange(1, n):
        a = a + k

        if a > df.shape[0]:
            a = a - df.shape[0]

        b[i] = a

    return {"Data" : df[b], "Index" : b, "K" : k}

# Do the sampling for random start,
# r = 1, and number of sample, n = 12
sys_sample(data, r = 1, n = 12)

{'Data': array([  2,  25,  48,  71,  94, 117, 140, 163, 186, 209, 232, 255]),
 'Index': [1, 24, 47, 70, 93, 116, 139, 162, 185, 208, 231, 254],
 'K': 23}

In [35]:
# Challenge 5
# ---
# Question: You work for the Olympics Data Analytics in Geneva and would like perform a study on the performance of the top marathon
# olympics athletes. For reasons beyond your control, resort to perform systematic sampling from the given Boston 2017 marathon dataset.
# ---
# Question: http://bit.ly/BostonMarathonDataset
url = "http://bit.ly/BostonMarathonDataset"
data = pd.read_csv(url)
data.head(5)

# Function for systematic sampling
def sys_sample(df, r, n):
    k = df.shape[0] // n #sampling interval
    b = [None] * n    # arraty list
    a = r    #random start
    b[0] = a

    for i in np.arange(1, n):
        a = a + k

        if a > df.shape[0]:
            a = a - df.shape[0]

        b[i] = a

    return {"Index" : b, "K" : k}

# Do the sampling for random start,
# r = 1, and number of sample, n = 12
sys_sample(data, r = 1, n = 12)

{'Index': [1,
  2201,
  4401,
  6601,
  8801,
  11001,
  13201,
  15401,
  17601,
  19801,
  22001,
  24201],
 'K': 2200}

In [4]:
#load data in pandas
marathon_df=pd.read_csv('http://bit.ly/BostonMarathonDataset')
marathon_df.shape
#define the size of systematic sampling
marathon_systematic_sampling=50
#define the marathon interval gap
marathon_interval=len(marathon_df)//50
marathon_interval
#choose a random number
marathon_random_number=np.random.randint(1,26410)
#define the systematic sampling function
def marathon_systematic_sampling(marathon_df, step):
  indexes=np.arange(marathon_random_number, len(marathon_df), step=step)
  marathon_systematic_sample= marathon_df.iloc[indexes]
  return marathon_systematic_sample
#obtain the systematic sample and save it in anew variable
marathon_systematic_sample=marathon_systematic_sampling(marathon_df, marathon_interval)
#display marathon systematic sample
print(marathon_systematic_sample)

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
17774,17774,20744,"Bojalad, Kimberly",42,F,Sewickley,PA,USA,NaN,NaN,...,2:26:47,2:56:50,3:27:15,3:57:24,0:09:34,-,4:10:32,17776,7138,1234
18302,18302,22413,"Dodson, Joan B",47,F,Concord,NC,USA,NaN,NaN,...,2:20:57,2:52:37,3:26:12,3:59:35,0:09:40,-,4:13:18,18304,7454,1146
18830,18830,20702,"Galer, Stacy",47,F,Westlake Village,CA,USA,NaN,NaN,...,2:26:34,2:58:50,3:32:00,4:02:26,0:09:47,-,4:16:13,18832,7757,1220
19358,19358,14195,"Chisnall, Neale",53,M,Ottawa,ON,CAN,NaN,NaN,...,2:33:13,3:04:44,3:35:29,4:05:46,0:09:53,-,4:18:58,19360,11278,1517
19886,19886,29145,"Woods, Sarah J.",21,F,Medford,MA,USA,NaN,NaN,...,2:22:13,2:53:24,3:28:28,4:06:43,0:10:01,-,4:22:15,19888,8381,4312
20414,20414,20916,"Snyder, Denise C",46,F,Apex,NC,USA,NaN,NaN,...,2:24:09,2:57:13,3:34:28,4:11:39,0:10:09,-,4:25:45,20416,8663,1411
20942,20942,23322,"Reichek, Jennifer",51,F,Chicago,IL,USA,NaN,NaN,...,2:27:00,3:02:03,3:38:53,4:15:21,0:10:17,-,4:29:28,20944,8947,892
21470,21470,22528,"Parry, Rebecca",47,F,Avon,CT,USA,NaN,NaN,...,2:32:56,3:07:35,3:43:28,4:19:01,0:10:27,-,4:33:53,21472,9241,1511
21998,21998,23397,"Hart, Kumiko",54,F,Brooklyn,NY,USA,NaN,NaN,...,2:35:11,3:09:59,3:50:02,4:23:31,0:10:37,-,4:38:16,22000,9534,982
22526,22526,22611,"Moga, Kate",49,F,Fredericksburg,VA,USA,NaN,NaN,...,2:24:31,2:59:50,3:42:28,4:25:43,0:10:50,-,4:43:49,22528,9824,1592
23054,23054,26066,"Iorio, Elizabeth K.",25,F,Boston,MA,USA,NaN,NaN,...,2:52:09,3:26:52,4:01:15,4:35:12,0:11:02,-,4:49:13,23056,10110,4967
23582,23582,28327,"Pimental, Jennifer A.",42,F,Woburn,MA,USA,NaN,NaN,...,2:46:11,3:22:10,4:02:11,4:39:43,0:11:17,-,4:55:35,23584,10405,1638
24110,24110,29800,"Hovey, Kimberly G.",54,F,New York,NY,USA,NaN,NaN,...,2:45:07,3:27:10,4:08:35,4:46:05,0:11:33,-,5:02:29,24112,10689,1106
24638,24638,29090,"Minot, Constance G.",25,F,New York,NY,USA,NaN,NaN,...,2:49:10,3:29:37,4:13:23,4:55:07,0:11:54,-,5:11:46,24640,10994,5378
25166,25166,26762,"Feltault, Maura J.",22,F,Boston,MA,USA,NaN,NaN,...,3:04:42,3:45:29,4:25:40,5:06:42,0:12:19,-,5:22:47,25168,11265,5509
25694,25694,28781,"Bryant, Ashley R.",33,F,Bossier City,LA,USA,NaN,NaN,...,3:08:06,3:49:44,4:34:32,5:18:08,0:12:49,-,5:36:01,25696,11561,5660
26222,26222,29506,"Brine, Colleen",24,F,Burlington,MA,USA,NaN,NaN,...,3:23:58,4:06:34,4:51:17,5:37:36,0:13:38,-,5:57:01,26224,11860,5800